body {
  background-color: lightblue;
}

.bus-seat {
  background-color: white;
  border: 2px solid darkgray;
  text-align: center;
  width: 200px;
  margin: 0 auto 5px auto;
}

.passenger-name {
  background-color: lightgray;
  padding: 10px;
  margin: 0;
}